
/* margin top whith px */
.mt-0{margin-top: 0px!important}
.mt-5{margin-top: 5px!important}
.mt-10{margin-top: 10px!important}
.mt-15{margin-top: 15px!important}
.mt-20{margin-top: 20px!important}
.mt-25{margin-top: 25px!important}
.mt-30{margin-top: 30px!important}
.mt-35{margin-top: 35px!important}
.mt-40{margin-top: 40px!important}
.mt-45{margin-top: 45px!important}
.mt-50{margin-top: 50px!important}
.mt-55{margin-top: 55px!important}
.mt-60{margin-top: 60px!important}
.mt-65{margin-top: 65px!important}
.mt-70{margin-top: 70px!important}
.mt-75{margin-top: 75px!important}
.mt-80{margin-top: 80px!important}
/* end margin top whith px */

/* margin top whith % */
.mt-0prc{margin-top: 0%!important}
.mt-5prc{margin-top: 5%!important}
.mt-10prc{margin-top: 10%!important}
.mt-15prc{margin-top: 15%!important}
.mt-20prc{margin-top: 20%!important}
.mt-25prc{margin-top: 25%!important}
.mt-30prc{margin-top: 30%!important}
.mt-35prc{margin-top: 35%!important}
.mt-40prc{margin-top: 40%!important}
.mt-45prc{margin-top: 45%!important}
.mt-50prc{margin-top: 50%!important}
.mt-55prc{margin-top: 55%!important}
.mt-60prc{margin-top: 60%!important}
.mt-65prc{margin-top: 65%!important}
.mt-70prc{margin-top: 70%!important}
.mt-75prc{margin-top: 75%!important}
.mt-80prc{margin-top: 80%!important}
/* end margin top whith px */

/* margin bottom whith px */
.mb-0{margin-bottom: 0px!important}
.mb-5{margin-bottom: 5px!important}
.mb-10{margin-bottom: 10px!important}
.mb-15{margin-bottom: 15px!important}
.mb-20{margin-bottom: 20px!important}
.mb-25{margin-bottom: 25px!important}
.mb-30{margin-bottom: 30px!important}
.mb-35{margin-bottom: 35px!important}
.mb-40{margin-bottom: 40px!important}
.mb-45{margin-bottom: 45px!important}
.mb-50{margin-bottom: 50px!important}
.mb-55{margin-bottom: 55px!important}
.mb-60{margin-bottom: 60px!important}
.mb-65{margin-bottom: 65px!important}
.mb-70{margin-bottom: 70px!important}
.mb-75{margin-bottom: 75px!important}
.mb-80{margin-bottom: 80px!important}
/* end margin bottom whith px */

/* margin bottom whith % */
.mb-0prc{margin-bottom: 0%!important}
.mb-5prc{margin-bottom: 5%!important}
.mb-10prc{margin-bottom: 10%!important}
.mb-15prc{margin-bottom: 15%!important}
.mb-20prc{margin-bottom: 20%!important}
.mb-25prc{margin-bottom: 25%!important}
.mb-30prc{margin-bottom: 30%!important}
.mb-35prc{margin-bottom: 35%!important}
.mb-40prc{margin-bottom: 40%!important}
.mb-45prc{margin-bottom: 45%!important}
.mb-50prc{margin-bottom: 50%!important}
.mb-55prc{margin-bottom: 55%!important}
.mb-60prc{margin-bottom: 60%!important}
.mb-65prc{margin-bottom: 65%!important}
.mb-70prc{margin-bottom: 70%!important}
.mb-75prc{margin-bottom: 75%!important}
.mb-80prc{margin-bottom: 80%!important}
/* end margin bottom whith px */
/* margin bottom whith % */
.ml-0{margin-left: 0px!important}
.ml-5{margin-left: 5px!important}
.ml-10{margin-left: 10px!important}
.ml-15{margin-left: 15px!important}
.ml-20{margin-left: 20px!important}
.ml-25{margin-left: 25px!important}
.ml-30{margin-left: 30px!important}
.ml-35{margin-left: 35px!important}
.ml-40{margin-left: 40px!important}
.ml-45{margin-left: 45px!important}
.ml-50{margin-left: 50px!important}
.ml-55{margin-left: 55px!important}
.ml-60{margin-left: 60px!important}
.ml-65{margin-left: 65px!important}
.ml-70{margin-left: 70px!important}
.ml-75{margin-left: 75px!important}
.ml-80{margin-left: 80px!important}

.mr-0{margin-right: 0px!important}
.mr-5{margin-right: 5px!important}
.mr-10{margin-right: 10px!important}
.mr-15{margin-right: 15px!important}
.mr-20{margin-right: 20px!important}
.mr-25{margin-right: 25px!important}
.mr-30{margin-right: 30px!important}
.mr-35{margin-right: 35px!important}
.mr-40{margin-right: 40px!important}
.mr-45{margin-right: 45px!important}
.mr-50{margin-right: 50px!important}
.mr-55{margin-right: 55px!important}
.mr-60{margin-right: 60px!important}
.mr-65{margin-right: 65px!important}
.mr-70{margin-right: 70px!important}
.mr-75{margin-right: 75px!important}
.mr-80{margin-right: 80px!important}
/* end margin bottom whith px */

.m-all-5{margin: 5px!important}
.m-all-15{margin: 15px!important}
.m-0{margin: 0px!important;}
.p-0{padding: 0px!important;}

.hide{display: none;}

.w-25px{width: 25px};
.w-75px{width: 75px};